#chatList{
    border-radius: 2px;
    min-width: 400px;
    padding: 16px;
    margin: 20px 10px 0;
    background-color: white;

    table{
        margin: 0;
        padding: 0;
        width: 100%;
    
        .chatEntry{
            .usericon{
                width: 60px;

                .userInfoIcon{
                    margin: 0 10px;
                }
            }
        
            .message{        
                .messageWrapper{
                    padding: 10px;
                    margin: 5px 0;
                    background-color: lightyellow;
                    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
                    border-radius: 8px;
                    display: inline-block;

                    &.ownMessage{
                        float: right;
                        background-color: rgb(225, 225, 230);
                    }

                    .messageText{
                        margin: 0;
                        margin-bottom: 5px;
                    }
                    .messageInfos{
                        font-size: .8em;
                        color: #5E5E5E;
                    }
                }
            }
        }
    }
}