#inputContainerOuter{
    position: sticky;
    bottom: 0;
    border-radius: 2px;
    margin: 20px 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
    background-color: white;
    
    #inputContainerInner{
        width: 100%;
        display:flex;
        flex-wrap:wrap;
        flex-direction:row;
        justify-content:flex-start;
        align-items:stretch;
    }

    form{
        padding: 16px;
        flex-basis: 50%;

        @media screen and (max-width: 850px){
            flex-basis: 100%;
        }

        label{
            display: inline-block;
            margin-bottom: 1em;
        }

        #messageInput:required{
            outline: none;
            box-shadow: none;
        }
        
        input{
            height: 32px;
            border: none;
            border-bottom: 2px solid #c8d200;
            outline: none;
            box-shadow: none;
            padding: 0 5px;

            &:invalid{
                border-color: red;
            }
        }

        #messageInput{
            margin-top: 1em;
            width: calc(100% + 32px);
            height: 100px;
            resize: none;
            border: none;
            margin:  auto -16px;
            padding: 16px;
            background-color: rgba(200,200,200,0.2);
        }

        #sendButton{
            padding: 8px;
            font-weight: bold;
            letter-spacing: 1px;
            color: #555;
            background-color: #c8d200;
            border: none;
            box-shadow: 1px 1px 3px 0px darkgray;
            margin-top: 1em;
        }        
    }
        
    #previewContainer{
        flex-basis: calc(~"50% - 32px");
        margin: 16px 0 16px 32px;
        position: relative;

        @media screen and (max-width: 850px){
            flex-basis: 100%;
            border-top: 1px solid lightgray;
            padding: 16px;
            margin: 0;

            display: none;
        }

        #previewHeading{
            display: inline-block;
            margin-bottom: 1em;   
        }

        #preview{
            width: 100%;
            height: 100px;
            padding: 16px;
            background-color: rgba(200, 200, 200, 0.2);
            position: absolute;
            word-break: normal;
            overflow-x: hidden;

            @media screen and (max-width: 850px){
                position: static;
                width: calc(~"100% + 32px");
                margin: 0 -16px;
            }
        }
    }
}