@navBarMainColor: #2962FF;

nav{
    position: sticky;
    top: 0;
}
#navbarContainer{
    background-color: @navBarMainColor;
    box-shadow: 2px 4px 10px rgba(0,0,0,.2);
    color: white;
    

    #navTitelBar{
        #menuButton{            
            display: inline-block;

            border: 1px solid @navBarMainColor;
            border-radius: 50%;
            background-color: transparent;
            margin: 8px 0 0 15px;
            width: 38px;
            height: 38px;
            float: left;
            padding: 0;
            text-align: center;

            transition: border-color 100ms, border-radius 150ms;

            &:hover{
                border-radius: 2px;
                border-color: white;
            }

            &:active{
                background-color: darken(@navBarMainColor, 15%);
            }

            i{
                font-size: 30px;
                color: white;
            }
        }

        #appTitel{
            display: inline-block;
            margin: 12px 15px;
        }

        #navUserInfo{
            .userInfoIcon;
            font-family: Arial, Helvetica, sans-serif;
            float: right;
        }
    }

    #navOptionsBar{

    }
}