body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
}

*{
    box-sizing: border-box;
}

.message img, #preview img{
    display: inline-block;
    min-width: 1px;
    height: 150px;
}

.contentWrapper{
    width: 100%;

    
}

.userNameText{
    padding: 2px;
    border-radius: 2px;
}

//IMPORT ATOMS
@import "./atoms/userInfoIcon.less";

//IMPORT SECTIONS
@import "./components/navbar.less";
@import "./components/chatList.less";
@import "./components/inputContainer.less";