<table ng-controller="chatListCtrl">
    <tr class="chatEntry" ng-repeat="message in chat | limitTo:20" ng-init="ownMessage = message.name == userInfo.username">
        <td class="usericon">
            <span ng-if="!ownMessage" class="userInfoIcon" ng-style="message.style"> {{ message.name | limitTo : 1 }}</span>
        </td>
        <td class="message">
            <div class="messageWrapper" ng-class="{ 'ownMessage' :  ownMessage}">
                <p class="messageText" dynamic="message.message"></p>
                <div class="messageInfos">
                    <span class="messageUserName">{{ message.name }}</span> - 
                    <span class="messageData">{{ message.time | date : "dd.MM.yyyy HH:mm" }} Uhr</span>
                </div>
            </div>
        </td>
        <td class="usericon">
            <span ng-if="ownMessage" class="userInfoIcon" ng-style="message.style"> {{ message.name | limitTo : 1 }}</span>
        </td>
    </tr>
</table>