<div id="inputContainerInner" ng-controller="inputCtrl" >
    <form ng-submit="sendMessage()">
        <label ng-if="!readyForChat">
            Username: <input required placeholder="Username" type="text" ng-model="userData.username">
        </label>

        <label ng-if="!readyForChat">
            Text-color: <input required placeholder="Color" value="black" type="text" ng-model="userData.color">
        </label ng-if="!readyForChat">

        <label ng-if="!readyForChat">
            Background-color: <input required placeholder="Color" value="white" type="text" ng-model="userData.bgColor">
        </label>

        <label for="messageInput">
            Message:
        </label>
        <textarea id="messageInput" required placeholder="Message" ng-model="messageText" ng-keyup="checkBackspace($event)"></textarea>

        <input type="submit" id="sendButton" value="SENDEN">
    </form>

    <div id="previewContainer">
        <span id="previewHeading">
            Preview:
        </span>

        <div id="preview" dynamic="messageText | replaceLineBreak | detectLink">
        </div>
    </div>
</div>