<nav id="navbarContainer" ng-controller="navbarCtrl">
    <div id="navTitelBar">
        <button id="menuButton">
            <i class="material-icons">menu</i>
        </button>

        <h1 id="appTitel">
            Simple Chat
        </h1>

        <button id="navUserInfo" ng-style="userStyle">
            <span id="navUserShort">
                {{ userShort === undefined ? "U" : userShort }}
            </span>
        </button>
    </div>
    <div id="navOptionsBar">

    </div>
</nav>