.userInfoIcon{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: lighten(@navBarMainColor, 15%);
    margin: 9px 15px;
    font-size: 24px;
    font-weight: bold;
    line-height: 37px;
    text-align: center;
    display: inline-block;
}